.container{
    display: flex;
    align-items: center;
    padding: 0px 50px;
    gap: 50px;
    border-radius: 10px;
    border: 2px solid gray;
    background: transparent;
    backdrop-filter: blur(8px);
}
.preview{
    padding: 10px 60px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.content{
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
    padding: 0px 50px;
    margin-top: 0;
}
.preview p{
    color: #000;
    font-weight: 100px;
    text-align: justify;
}
.imgPpal{
    background: url('../images/Cat1/producto1/rubik.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    padding: 0;
    margin: 20px;
    grid-column: 2;
    grid-row: 1/span 4;
}
.vistas{
    margin: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(4,1fr);
    gap: 15px;
    width: 100%;
    height: 100%;
}
.vistas img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.boton {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: #193d549a;
    transition: 0.4s;    
}
.boton:hover{
    transform: scale(1.1);
}

.imgPpal1{
    background: url('../images/Cat1/producto1/rubik.png') no-repeat center center;
    background-size: cover;
}
.vistas > .vista1:hover ~ .imgPpal1{
    background: url('../images/Cat1/producto1/vista1.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista2:hover ~ .imgPpal1{
    background: url('../images/Cat1/producto1/vista2.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista3:hover ~ .imgPpal1{
    background: url('../images/Cat1/producto1/vista3.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista4:hover ~ .imgPpal1{
    background: url('../images/Cat1/producto1/vista4.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.imgPpal2{
    background: url('../images/Cat1/producto2/producto2.png') no-repeat center center;
    background-size: cover;
}
.vistas > .vista1:hover ~ .imgPpal2{
    background: url('../images/Cat1/producto2/vista1.jpg') no-repeat center center;
    background-size: cover;
}
.vistas > .vista2:hover ~ .imgPpal2{
    background: url('../images/Cat1/producto2/vista2.jpg') no-repeat center center;
    background-size: cover;
}
.vistas > .vista3:hover ~ .imgPpal2{
    background: url('../images/Cat1/producto2/vista3.jpg') no-repeat center center;
    background-size: cover;
}
.vistas > .vista4:hover ~ .imgPpal2{
    background: url('../images/Cat1/producto2/vista4.jpg') no-repeat center center;
    background-size: cover;
}
.imgPpal3{
    background: url('../images/Cat1/producto3/prod3.png') no-repeat center center;
    background-size: cover;
}
.vistas > .vista1:hover ~ .imgPpal3{
    background: url('../images/Cat1/producto3/vista1.jpg') no-repeat center center;
    background-size: cover;
}
.vistas > .vista2:hover ~ .imgPpal3{
    background: url('../images/Cat1/producto3/vista2.jpg') no-repeat center center;
    background-size: cover;
}
.vistas > .vista3:hover ~ .imgPpal3{
    background: url('../images/Cat1/producto3/vista3.jpg') no-repeat center center;
    background-size: cover;
}
.vistas > .vista4:hover ~ .imgPpal3{
    background: url('../images/Cat1/producto3/vista4.jpg') no-repeat center center;
    background-size: cover;
}
.imgPpal4{
    background: url('../images/Cat1/producto4/prod4.png') no-repeat center center;
    background-size: cover;
}
.vistas > .vista1:hover ~ .imgPpal4{
    background: url('../images/Cat1/producto4/vista1.jpg') no-repeat center center;
    background-size: cover;
}
.vistas > .vista2:hover ~ .imgPpal4{
    background: url('../images/Cat1/producto4/vista2.jpg') no-repeat center center;
    background-size: cover;
}
.vistas > .vista3:hover ~ .imgPpal4{
    background: url('../images/Cat1/producto4/vista3.jpg') no-repeat center center;
    background-size: cover;
}
.vistas > .vista4:hover ~ .imgPpal4{
    background: url('../images/Cat1/producto4/vista4.jpg') no-repeat center center;
    background-size: cover;
}

@media (max-width: 900px){
    .container{
        flex-direction: column;
        padding: 30px;
        margin: 30px;
    }
    .preview{
        margin: 0;
        padding: 0;
    }
    .preview p{
        font-size: 1.2rem;

    }
    .content{
        flex-direction: column;
        padding: 5px;
        margin-top: 0;
        justify-content: center;
    }
    .imgPpal{
        width: 100%;
        margin-left: 0;
        padding: 5px;
        padding-left: 0;
    }
}