*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #dab5ac;
}

.up i{
    padding: 10px;
    position: fixed;
    bottom: 3%;
    right: 3%;
    background-color: #469778;
    padding: 0;
    width:fit-content;  
    border-radius: 50%;
    font-size: 2rem;
}

ul, li{
    list-style: none;
    padding: 10px;
}
.listMenu li a{
    display: block;
}
.listMenu > li{
    float: left;
}
.listMenu li ul{
    display: none;
    background-color:#90d8bc ;
    min-width: 164.27px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 20px;
    padding-left: 60px;
}
.listMenu li:hover >ul{
    display: block;
    position: absolute;
}
.aMenu{
    text-decoration: none;
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 0px 30px;
    transition: 0.6s;
}

.navTarget, .cerrar-menu, .menuCat{
    display: none;
    cursor: pointer;
    order: 1;
}

.aMenu:hover{
    background-color: #469778;
}




