* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url('../images/5594016.jpg') no-repeat center center fixed;
    background-size: cover;
    
}
header{
    background: lightgray;
}
a{
    text-decoration: none;
}
a:visited{
    color: inherit;
}
.up i {
    color: #d3d3d3;
    padding: 10px;
    position: fixed;
    bottom: 3%;
    right: 3%;
    background-color: #193d549a;
    padding: 0;
    width: fit-content;
    border-radius: 50%;
    font-size: 2rem;
    z-index: 100;
}

ul,li {
    list-style: none;
    padding: 10px;
}
.aMenu2{
    position: absolute;
    float: left;
    right: 450.1px;
}
.menuCat {
    position: absolute;
    top: 65px;
    right: 410px;
    display: none;
    box-shadow: 3px 3px 4px gray;
    background-color: #d3d3d3;
    z-index: 10;
    
}
.nave, .navCat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 20px;
    padding-left: 60px;
}
.navCat{
    background-color: rgb(182, 182, 182);
    height: 50px;
}
.navCat a{
    font-size: 1.3rem;
}

.menuCat:target{
    display: block;
}
.menuProd{
    display: flex;
}
.menu {
    display: flex;
}
.aMenu {
    text-decoration: none;
    color: #000;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 0px 30px;
    transition: 0.4s;
}

.navTarget, .navCatTarget, .cerrar-menu {
    display: none;
    cursor: pointer;
    order: 1;
}

.aMenu:hover {
    background-color: #193d549a;
    color: #d3d3d3;
}

#home{
    padding: 10px 60px;
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
}

#home img{
    max-width: 600px;
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 8px gray;
}
.destacados{
    text-align: center;
    font-size: 1.7rem;
    padding: 25px 50px;
    align-items: center;
}
.destacados img{
    max-width: 500px;
    width: 100%;
    transition: 0.3s ease-in-out;
}
.destacados img:hover{
    transform: scale(1.1);
}
.items-1{
    display: flex;
    justify-content: space-around;
}
.item-1{
    min-width: 33%;
    margin: 20px;
    padding: 20px 60px;
    background-color: #d3d3d3;
    text-align: center;
    position: relative;
    border-radius: 5%;
}

.destacados i{
    background-color: #9c9c9c;
    padding: 0;
    width:fit-content;
    height: 27.2px;    
    border-radius: 20%;
}
.destacados .icon{
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(80, 80, 80);
}
.destacados .icon:hover{
    color: #000;
    transition: 0.6s;
}



@media (max-width: 750px){
    .navTarget, .navCatTarget{
        display: block;
    }
    .aMenu{
        color: #fff;
    }
    .menu, .menuProd{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #d3d3d3;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 50px;
        z-index: 1;        
        clip-path: circle(0% at top right);
        transition: clip-path 0.6s;
    }
    .menu:target, .menuProd:target{
        clip-path: circle(150% at top right);
    }    
    .menu a, .menuProd a, .menuCat a{
        display: block;
        padding: 5px;
    }
    .listMenu li > ul{
        pointer-events: none;
    }
    .menuCat{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #9e9e9e;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 50px;
        z-index: 1;        
        clip-path: circle(0% at top right);
        transition: clip-path 0.6s;
    }
    .cerrar-menu{      
        position: absolute;
        top: 14px;
        right: 0px;
        z-index: 4;    
    }
    .cerrar-menu1{      
        position: absolute;
        top: 14px;
        right: 0px;
        z-index: 4;    
    }
    .menuCat:target{
        clip-path: circle(150% at top right);
    } 
    .destacados{
        align-items: center;
        padding: 10px;
    }
    .items-1, .items-2, .items-3{
        flex-direction: column;
    }
    .item-1{
        padding: 0;
        margin: 20px 50px;
    }
}