.container{
    display: flex;
    align-items: center;
    padding: 50px;
    padding-top: 0;
    gap: 50px;
}
.preview{
    padding: 10px 60px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.content{
    display: flex;
    width: fit-content;
    flex-direction: column;
    font-size: 1.7rem;
    padding: 0px 50px;
    margin-top: 0;
}
.preview p{
    color: #000;
    font-weight: 100px;
    text-align: justify;
}
.imgPpal{
    background: url('../images/Cat1/producto1/rubik.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    padding: 0;
    margin: 20px;
    grid-column: 2;
    grid-row: 1/span 4;
}
.vistas{
    margin: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(4,1fr);
    gap: 15px;
    width: 100%;
    height: 100%;
}
.vistas img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.vistas > .vista1:hover ~ .imgPpal1{
    background: url('../images/Cat1/producto1/vista1.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista2:hover ~ .imgPpal1{
    background: url('../images/Cat1/producto1/vista2.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista3:hover ~ .imgPpal1{
    background: url('../images/Cat1/producto1/vista3.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.vistas > .vista4:hover ~ .imgPpal1{
    background: url('../images/Cat1/producto1/vista4.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    box-shadow: 10px 10px 10px gray;
}
.imgPpal4{
    background: url('../images/Cat1/producto4/prod4.png') no-repeat center center;
    background-size: cover;
}
.vistas > .vista1:hover ~ .imgPpal4{
    background: url('../images/Cat1/producto4/vista1.jpg') no-repeat center center;
    background-size: cover;
}
.vistas > .vista2:hover ~ .imgPpal4{
    background: url('../images/Cat1/producto4/vista2.jpg') no-repeat center center;
    background-size: cover;
}
.vistas > .vista3:hover ~ .imgPpal4{
    background: url('../images/Cat1/producto4/vista3.jpg') no-repeat center center;
    background-size: cover;
}
.vistas > .vista4:hover ~ .imgPpal4{
    background: url('../images/Cat1/producto4/vista4.jpg') no-repeat center center;
    background-size: cover;
}
.detalles {
    display: flex;
    justify-content: center;
}
.detalles div{
    width: 80%;
    font-size: 1.3rem;
}
.detalles li{
    list-style: inside;
}
#review {
    display: flex;
    justify-content: center;
    padding: 40px;
    margin: 20px;
    text-align: justify;
}
.review{
    width: 80%;
    font-size: 1.3rem;
}

.contStar{
    width: 68px;
}
.contStar1{
    width: 55px;
}
.contStar2{
    width: 27px;
}
.stars{
    background: url('../images/star-full.png') repeat-x 0 0;
    background-size: auto 100%;
    height: 13px;
}

.imgPpal1{
    background: url('../images/Cat1/producto1/rubik.png') no-repeat center center;
    background-size: cover;
}
.imgPpal2{
    background: url('../images/Cat1/producto2/producto2.png') no-repeat center center;
    background-size: cover;
}
.vistas > .vista1:hover ~ .imgPpal2{
    background: url('../images/Cat1/producto2/vista1.jpg') no-repeat center center;
    background-size: cover;
}
.vistas > .vista2:hover ~ .imgPpal2{
    background: url('../images/Cat1/producto2/vista2.jpg') no-repeat center center;
    background-size: cover;
}
.vistas > .vista3:hover ~ .imgPpal2{
    background: url('../images/Cat1/producto2/vista3.jpg') no-repeat center center;
    background-size: cover;
}
.vistas > .vista4:hover ~ .imgPpal2{
    background: url('../images/Cat1/producto2/vista4.jpg') no-repeat center center;
    background-size: cover;
}
.imgPpal3{
    background: url('../images/Cat1/producto3/prod3.png') no-repeat center center;
    background-size: cover;
}
.vistas > .vista1:hover ~ .imgPpal3{
    background: url('../images/Cat1/producto3/vista1.jpg') no-repeat center center;
    background-size: cover;
}
.vistas > .vista2:hover ~ .imgPpal3{
    background: url('../images/Cat1/producto3/vista2.jpg') no-repeat center center;
    background-size: cover;
}
.vistas > .vista3:hover ~ .imgPpal3{
    background: url('../images/Cat1/producto3/vista3.jpg') no-repeat center center;
    background-size: cover;
}
.vistas > .vista4:hover ~ .imgPpal3{
    background: url('../images/Cat1/producto3/vista4.jpg') no-repeat center center;
    background-size: cover;
}



@media (max-width: 900px){
    .container{
        flex-direction: column;
    }
    .preview{
        margin: 0;
        padding: 0;
    }
    .preview p{
        font-size: 1.2rem;

    }
    .content{
        flex-direction: column;
        padding: 5px;
        margin-top: 0;
        justify-content: center;
    }
    .vistas{
        margin: 10px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 80% 20%;
        justify-content: center;
        gap: 15px;
        width: 100%;
        height: 400px;
    }
    .imgPpal {
        width: 100%;
        margin-left: 0;
        height: auto;
        grid-row: 1;
        grid-column: 1/span 4;
    }
    .vistas img{
        width: 100%;
        height: auto;
    }
    .vista1{
        grid-row: 2;
        grid-column: 1;
    }
    .vista2{
        grid-row: 2;
        grid-column: 2;
    }
    .vista3{
        grid-row: 2;
        grid-column: 3;
    }
    .vista4{
        grid-row: 2;
        grid-column: 4;
    }
    .detalles div{
        width: 80%;
        font-size: 1rem;
        text-align: justify;
    }
    
    .review{
        width: 95%;
        font-size: 1rem;
    }
}
